.desktop .facade {
  padding: 2.06rem 10.31rem;
}

.desktop header {
  margin-bottom: 1.94rem;
}

.desktop h1 {
  line-height: 93.75%;
  letter-spacing: -0.29px;
}

.desktop app-search {
  margin-bottom: 3rem;
}
