.mobile .facade {
  padding: 1.63rem 1.5rem;
}

.mobile header {
  margin-bottom: 1.81rem;
}

.mobile h1 {
  font-size: 1.62rem;
  line-height: 115.38%;
  letter-spacing: -0.23px;
}

.mobile app-search {
  margin-bottom: 1.5rem;
}
