:host {
  display: block;
  height: 51.875rem;
  position: relative;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 90rem) {
  :host {
    height: 50rem;
  }
}
