/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-rubik: "Rubik", sans-serif;
}

body {
  color: #2c2c2c;
  font-family: var(--font-rubik);
}
