:host {
  align-self: center;
  background-color: white;
  border-radius: 15px;
  height: 18.437rem;
  padding-top: 1.65rem;
  position: absolute;
  top: 10.5rem;
  width: 87vw;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1.5rem;
}

.title {
  color: var(--color-dark-gray);
  display: block;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.content {
  color: var(--color-very-dark-gray);
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.1px;
}

@media (min-width: 90rem) {
  :host {
    height: 10rem;
    top: 12.5rem;
    padding-top: 2.3rem;
    text-align: left;
    width: 77.083vw;
  }

  ul {
    display: flex;
  }

  li {
    padding-left: 2rem;
    position: relative;
    width: 100%;
  }

  li::after {
    border-right: 1px solid var(--color-dark-gray);
    content: "";
    height: 4.375rem;
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 1px;
  }

  li:last-child::after {
    border-color: white;
  }

  .title {
    font-size: 0.8rem;
    letter-spacing: 1.2px;
    margin-bottom: 0.8rem;
  }

  .content {
    font-size: 1.6rem;
    padding-right: 3.3rem;
  }
}
